body{
  background-color: black;
}
.App {
  /* text-align: center; */
  background-color: black;
  margin:0px;
  padding:10px;
}


.image{
object-fit: cover;
}

.info-details{
  display: grid;
  gap:1rem;
  grid-template-columns: repeat(2, 1fr);
  width:max-content;
  margin: 0 auto; 
}
.info-genre{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width:max-content;
  margin: 0 auto; 
  padding:10px;
}
.badge{
  border:none;
  padding:5px;
  margin:5px;
  border-radius: 25px;
  background-color: rgb(233, 140, 19);
}
.info-image{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:0.5rem;
  width:405px;
  padding:5px;
  margin:10px;
  margin-left: auto; 
}
.info-summary{
  padding:10px;
  margin:0 auto; 
}
.info-cast{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width:max-content;
  padding:5px;
  margin:10px;
}
.info-images{
  width:200px;
  height:200px;
  object-fit: cover;
}
.cast-images{
  object-fit: cover;
  border-radius: 50%;
  width:100px;
  height: 100px;
}
.ratingElement{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: bolder;
  color : crimson;

}
.trailer-details, .info-headings{
  margin-top: 24px; 
  text-align: center;

}

iframe{
  margin:0 auto; 
  padding:20px; 
}
.review-div{
  width:600px;
  margin:0 auto; 
  margin-top:10px; 
  margin-bottom:10px; 
  text-align: start;
  padding-left:10px; 
}
.app-page{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  margin: 24px;
  align-content: center;
  justify-content: space-evenly;
  justify-items: center;
  align-items: stretch;
  text-align: center;
}
.trailer-div{
  display: grid;
}
.review-box{
  width:500px;
  margin: 0 auto; 
  margin-top:50px;
  padding:10px;
  text-align: center;
}
.review-card{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
Button{
  cursor: pointer;
}

@media (max-width:360px) {
  .app-page{
    grid-template-columns: repeat(2,1fr);

}
.image{
height: 200px;
object-fit: cover;
}
 iframe{
  width:300px;
  height:250px;
  margin:0 auto; 
  padding:20px;
}
.info-images{
  width:130px;
  height:100px;
}
.info-image{
 width:max-content; 
 margin: 0 auto;
 padding-top:10px;
}
.cast-images{
  width:30px;
  height:30px;
}
.info-cast{
  grid-template-columns: repeat(2,1fr);
}
.info-details{
  grid-template-columns: repeat(1,1fr);
}
.review-div, .review-box{
width:290px;
}
}